$fonte-principal: 'Montserrat', sans-serif;


// Cores
$cor-vermelha-1: #f43a59;
$cor-azul-1: #007bff;
$cor-branca: #FFF;
$cor-azul-medio: #0069d9;
$cor-azul-claro: #e6f0fa;
$cor-cinza-claro: #f8f9fa;
$cor-texto: #212529;




$cor-bg-escura: #0069d9;


$gradiente-fiep: linear-gradient(135deg, #00539B 0%, #00AEEF 100%);


// Tamanhos
$altura-logo: 80px;
$altura-cabecalho: 80px;
$altura-menu-top: 80px;
$largura-barra-lateral: 225px;
$altura-rodape: 40px;


// Tamanho dos dispositivos
$largura-xl-min: 1200px;
$largura-lg-max: 1199px;
$largura-lg-min: 992px;
$largura-md-max: 991px;
$largura-md-min: 768px;
$largura-sm-max: 767px;
$largura-sm-min: 576px;
$largura-xs-max: 575px;
$largura-xs-min: 0px;




